html{
    scroll-behavior:smooth;
}
body{
  font-family: sans-serif;
  /* overflow-x: hidden; */
  /* background-color: f8f9fc; */
}


.col1{height: 60px; background-color: cornflowerblue; text-align: center;}
.col2{height: 60px; background-color: rgb(4, 31, 80);}
.col-lg-4 {
  /* width: 33.33333333%; */
  padding-top: 10%;
  padding-left: 3%;
}
.col4 img{width: 50%;}
.col6{
  height: 500px;
  background-color: rgb(255, 255, 255);
  margin-top: 100px;
}
.col7 {
  float: right;
  height: 350px;
  padding-top: 100px;
  /* background-color: rgb(142, 177, 147); */
  /* padding-top: 50px; */
  /* text-align: center; */
  float: left;
}

.col7 >img{
  width: 100%;
}
#offer{
  /* padding: 100px 0; */
  display: flex;
  align-items: center;
  flex-wrap:wrap;
}
.about-text {
  max-width: 500px;
  margin-right: 50px;
  display: inline-block;
  margin-left: 10%;
  padding-top: 10%;
}
.about-text h2{
  margin: 50px 0 10px;
  font-size: 28px;
  font-style: italic;
}
.about-text h3{
  font-size: 20px;
  font-style: italic;
  color: #797979;
}

.line-1{
  width: 15px;
  height: 15px;
  /* background: #f67c92; */
  background: #273B98;
  background: #5A88E8;
  display: inline-block;
}
.line-2{
  width: 80px;
  height: 1px;
  background: #5A88E8;
  display: inline-block;
}
.line-3{
  width: 60px;
  height: 1px;
  background: #5A88E8;
  display: inline-block;
}
.line{
  line-height:8px ;
  margin-top: 10px;
}

.square{
  height: 12px;
  width: 30px;
  display: inline-block;
  background: #5A88E8;
  margin: 15px 0;
}
.common-btn{
  padding: 12px 30px;
  background: transparent;
  outline: none;
  border: 2px solid  #5A88E8;
  border-radius: 50px;
  font-weight: bold;
  cursor: pointer;
}
p{
  font-size: 15px;
  line-height: 18px;
  color: #777;

}


/* features */
#features{
  padding: 150px 50px;
  /* background-color:; */
  /* padding-bottom: 50px; */

}
.feature-row{
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.feature-col{
  flex-basis: 25%;
  text-align: center;

}
.feature-col img{
  width:100px;
}
.feature-col h4{
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 400;
}
.feature-btn{
  text-align: center;
  margin: 10px auto 0;
  /* display: flex; */
  /* align-items: flex-end; */
  /* justify-content: center; */
}
.feature-btn .line{
  text-align: right;
  display: inline-block;
  margin-right:25px;
}


/* end */

/* .col8{height: 334px; background-color: rgb(215, 230, 217);} */

.col9{height: 200px; background-color: rgb(22, 22, 22);}
.col10{height: 200px; background-color: rgb(135, 138, 137);}
.col11{height: 200px; background-color: rgb(73, 73, 73);}
.col12{height: 200px; background-color: rgb(51, 53, 51);}
.col13{height: 250px; background-color: rgb(0, 0, 0);}
.col14{height: 250px; background-color: rgb(25, 29, 25);}
.col15{height: 250px; background-color: rgb(200, 206, 200);}
.col16{height: 250px; background-color: rgb(25, 110, 25);}


.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 15px;
    margin-right: 30px;
}

* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  z-index: -100;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color:#5A88E8;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.7s ease;

}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.6s;
  animation-name: fade;
  animation-duration: 6s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
video {
  width: 95%;
  height: 500px;
  margin-left: 3%;
}



  /* Paste this css to your style sheet file or under head tag */
  /* This only works with JavaScript,
  if it's not present, don't show loader */
.no-js #loader {
      display: none;
}
.js #loader {
    display: block;
    position: absolute;
    left: 100px;
    top: 0; }

  .se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background:url('../images/loader-64x/Preloader_2.gif')  center no-repeat #fff;
  }
